{% extends "home.html" %}
{% load static %}
{% block title %}Iniciar sesion{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'iniciar_sesion.css' %}">
{% endblock css %}
{% block content %}
    <div class="login-container">
    <div class="container registro-usuario-form">
        <h2>Iniciar sesión</h2>
        <form method="post" action="{% url 'inicio_sesion:login' %}" class="registro-usuario-form">
        {% csrf_token %}

        {# Mostrar mensajes flash #}
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        {% if form.non_field_errors %}
            <div class="error-messages">{{ form.non_field_errors }}</div>
        {% endif %}

        <div class="input-group">
            <label for="id_email">Usuario o email</label>
            {{ form.email }}
            {% if form.email.errors %}
            <div class="field-error">{{ form.email.errors }}</div>
            {% else %}
            <div class="field-error" style="min-height:1.2em;"></div>
            {% endif %}
        </div>

        <div class="input-group">
            <label for="id_contrasena">Contraseña</label>
            {{ form.contrasena }}
            {% if form.contrasena.errors %}
            <div class="field-error">{{ form.contrasena.errors }}</div>
            {% else %}
            <div class="field-error" style="min-height:1.2em;"></div>
            {% endif %}
        </div>

        <div class="actions-row">
            <button type="submit" class="btn">Entrar</button>
        </div>
        </form>
    </div>
    </div>
{% endblock content %}
